@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@400;500;800&family=Playfair+Display:ital,wght@1,900&family=Rubik+Moonrocks&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #21262d;
  color: rgba(255, 255, 255, 0.5);
  overflow: overlay;
  /* margin-top: 4.2rem; */
}

/* =========LOADER==================================== */

#loader-wrapper {
  height: 115px;
  width: 500px;
  overflow: hidden;
}

#loader-wrapper .element {
  height: 100%;
  width: 100%;
}

#loader-text {
  color: rgb(229, 234, 253);
  font-family: "lobster", cursive;
  font-weight: 100;
}

#loader {
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(#21262d, #19273c, #21262d);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1031;

  animation: anim2 1s cubic-bezier(0.19, 1, 0.22, 1) 5s both;
}

#loader-wrapper .element:nth-child(1) {
  animation: anim 2s cubic-bezier(0.19, 1, 0.22, 1) 1s both;
}

#loader-wrapper .element:nth-child(2) {
  animation: anim 2s cubic-bezier(0.19, 1, 0.22, 1) 3s both;
}

@keyframes anim {
  to {
    margin-top: -115px;
  }
}

@keyframes anim2 {
  to {
    transform: translateY(-100%);
  }
}

/* ============NAV======================= */

nav {
  background: linear-gradient(#21262d, #09244a);
  background: linear-gradient(#21262d, #19273c);
}

nav a {
  color: whitesmoke;
}

nav .nav-link:hover {
  color: rgb(13, 202, 240);
}

nav .nav-tabs {
  border-bottom: none;
}

nav .nav-tab .nav-link {
  border-right: none;
  border-top: none;
}
.my-logo {
  width: 4rem;
}

/* =============header============== */

header{
  background: red;
}